/*
    ========================================
    Expenditure Page
    ========================================
*/

#expenditure-box .expenditure-groups {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

#expenditure-box .expenditure-group {
    border: 2px solid #ffffff33;
    background-color: #CAE3DD;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 0;
    height: 200px;
    width: 350px;
    margin: 0;
}

#expenditure-box .expenditure-group-header {
    text-align: center;
    padding: 10px 0;
}

#expenditure-box .expenditure-group-header h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #008F88;
    margin: 0;
}

#expenditure-box .expenditure-group-content {
    text-align: left;
    padding: 10px 10px;
}

#expenditure-box .expenditure-group-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 20px 0;
    gap: 10px;
}

#expenditure-box button {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #00728F;
    box-shadow: 0 0 10px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 14.5px;
    font-weight: 600;
}

#expenditure-box #expenditure-delete-btn {
    background-color: #D02A25;
}

#expenditure-box .expenditure-group-add {
    border: 2px dotted #333333;
    background-color: transparent;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 0;
    height: 200px;
    width: 350px;
    margin: 0;
}

#expenditure-box #expenditure-group-add-btn {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 10px #00000033;
    cursor: pointer;
    color: #00728F;
    font-size: 32px;
    font-weight: 600;
}

#expenditure-box #expenditure-group-add-btn p {
    font-size: 14.5px;
    font-weight: 300;
    margin-top: 10px;
}

/*
    ========================================
    Expenditure Group Create Page
    ========================================
*/

#expenditure-group-create-box {
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#expenditure-group-create-box .wrapper-expenditure-group-create {
    width: 560px;
    background-color: #CAE3DD;
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 30px 40px;
}

#expenditure-group-create-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

#expenditure-group-create-box .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    cursor: text;
    color: #333333;
    font-size: 14.5px;
}

#expenditure-group-create-btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #00728F;
    box-shadow: 0 0 10px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 15px;
}

#expenditure-group-create-box .error p {
    font-size: 14.5px;
    color: #D02A25;
}

/*
    ========================================
    Expenditure List Page
    ========================================
*/

#expenditure-list-box {
    min-height: 50vh;
}

#expenditure-list-create-btn {
    width: 10%;
    height: 45px;
    float: right;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #00728F;
    box-shadow: 0 0 5px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 50px 20px;
}

#expenditure-list-box .table-container {
    width: 100%;
    background-color: transparent;
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    margin: 0 0 32px 0;
    padding: 0;
    overflow: auto;
    /* overflow: hidden; */
}

.table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #00000033;
    visibility: hidden;
}

.table-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#expenditure-list-box table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    text-align: left;
    background-color: transparent;
}

#expenditure-list-box table th,td {
    height: 50px;
    padding: 10px;
}

#expenditure-list-box table th {
    position: sticky;
    background-color: #00728F;
    color: #F8F7FF;
    font-weight: 600;
    text-transform: uppercase;  
}

#expenditure-list-box table tbody tr {
    cursor: pointer;
    box-shadow: 0 0 5px #00000033;
}

#expenditure-list-box table tbody tr:hover {
    background-color: #CAE3DD;
    font-weight: bold;
}

#expenditure-list-box table tbody tr td {
    background-color: inherit;
}

#expenditure-list-box .expenditure-pagination {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 0 0;
    gap: 5px;
}

#expenditure-list-box .expenditure-pagination button {
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #00728F;
    box-shadow: 0 0 5px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 14.5px;
    font-weight: 600;
}

#expenditure-list-box #expenditure-pagination-firstPage {
    border-radius: 40px 10px 10px 40px;
}

#expenditure-list-box #expenditure-pagination-lastPage {
    border-radius: 10px 40px 40px 10px;
}

#expenditure-list-box #expenditure-pagination-pageNo {
    width: 40px;
    border-radius: 10px;
}

/*
    ========================================
    Expenditure Create Page
    ========================================
*/

#expenditure-create-box {
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#expenditure-create-box .wrapper-expenditure-create {
    width: 560px;
    background-color: #CAE3DD;
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 30px 40px;
}

#expenditure-create-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

#expenditure-create-box .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    cursor: text;
    color: #333333;
    font-size: 14.5px;
}

#expenditure-create-box .select-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

#expenditure-create-box .select-box select {
    width: 100%;
    height: 100%;
    background-color: #CAE3DD;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 40px;
    padding: 0 0 0 20px;
    cursor: pointer;
    color: #333333;
    appearance: none;
    -webkit-appearance: none;
}
 
#expenditure-create-box .select-box::after {
    --size: 6px;
    position: absolute;
    content: "";
    right: 45px;
    pointer-events: none;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 45%;
}

#expenditure-create-btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #00728F;
    box-shadow: 0 0 10px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 15px;
}

#expenditure-create-box .error p {
    font-size: 14.5px;
    color: #D02A25;
}

/*
    ========================================
    Expenditure Detail Page
    ========================================
*/

#expenditure-detail-box {
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#expenditure-detail-box .wrapper-expenditure-detail {
    width: 560px;
    background-color: #CAE3DD;
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 30px 40px;
}

#expenditure-detail-box .row {
    display: flex;
    margin: 16px 16px;
    align-items: center;
    gap: 20px;
}

#expenditure-detail-box .row-column-key {
    width: 40%;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    color: #00728F;
}

#expenditure-detail-box .row-column-value {
    width: 60%;
    text-align: left;
    font-weight: 300;
    color: #333333;
}

#expenditure-detail-box .expenditure-detail-attachment {
    text-transform: lowercase;
    text-decoration: none;
    transition: all 0.3s ease; 
    color: #333333;
}

#expenditure-detail-box .expenditure-detail-attachment:hover {
    text-decoration: underline;
    color: #00728F;
    font-size: 18px;
}

#expenditure-detail-box .expenditure-detail-btn-list {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 32px 0 0 0;
}

#expenditure-detail-box .expenditure-detail-btn-list button {
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #00728F;
    box-shadow: 0 0 5px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 14.5px;
    font-weight: 600;
}

#expenditure-detail-box #expenditure-detail-delete-btn {
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #D02A25;
    box-shadow: 0 0 5px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 14.5px;
    font-weight: 600;
}

#expenditure-detail-box .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 40px;
    padding: 5px 5px 5px 10px;
    cursor: text;
    color: #333333;
    font-size: 14.5px;
}

#expenditure-detail-box .select-box select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 40px;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    color: #333333;
    appearance: none;
    -webkit-appearance: none;
}
 
#expenditure-detail-box .select-box::after {
    --size: 6px;
    position: relative;
    content: "";
    right: 20px;
    pointer-events: none;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 12px;
}

#expenditure-detail-box .error p {
    font-size: 14.5px;
    color: #D02A25;
}

/*
    ========================================
    Expenditure Summary Page
    ========================================
*/

#expenditure-summary-box button {
    width: 10%;
    height: 45px;
    float: right;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #00728F;
    box-shadow: 0 0 5px #00000033;
    cursor: pointer;
    color: #F8F7FF;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 50px 20px;
}

#expenditure-summary-box .expenditure-summary-cells {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

#expenditure-summary-box .expenditure-summary-value-cell {
    border: 2px solid #ffffff33;
    background-color: #CAE3DD;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 0;
    height: 125px;
    width: "100%";
    margin: 0;
}

#expenditure-summary-box .expenditure-summary-value-cell-header {
    text-align: center;
    padding: 10px 0;
}

#expenditure-summary-box .expenditure-summary-value-cell-header h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #008F88;
    margin: 0;
}

#expenditure-summary-box .expenditure-summary-value-cell-content {
    text-align: center;
    padding: 10px;
}

#expenditure-summary-box .expenditure-summary-value-cell-footer {
    text-align: center;
    padding: 0px 0px;
}

#expenditure-summary-box .expenditure-summary-value-cell-footer p {
    font-weight: 400;
    font-style: italic;
    font-size: 12.5px;
    margin: 0;
}

#expenditure-summary-box .expenditure-summary-chart-cells {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

#expenditure-summary-box .expenditure-summary-chart-cell {
    border: 2px solid #ffffff33;
    background-color: #CAE3DD;
    box-shadow: 0 0 10px #00000033;
    border-radius: 10px;
    padding: 0;
    height: 350px;
    width: "100%";
    margin: 0;
}

#expenditure-summary-box .expenditure-summary-chart-cell-no-data {
    text-align: center;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#expenditure-summary-box .expenditure-summary-chart-cell-header {
    text-align: center;
    padding: 10px 0;
}

#expenditure-summary-box .expenditure-summary-chart-cell-header h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #008F88;
    margin: 0;
}

#expenditure-summary-box .expenditure-summary-chart-cell-table {
    padding: 0 20px;
    border-collapse: collapse;
}

#expenditure-summary-box .expenditure-summary-chart-cell-table table {
    width: 100%;
}


#expenditure-summary-box .expenditure-summary-chart-cell-table table .column:first-child {
    width: 50%;
    text-align: left;
}

#expenditure-summary-box .expenditure-summary-chart-cell-table table .column:nth-child(2) {
    width: 25%;
    text-align: center;
}

#expenditure-summary-box .expenditure-summary-chart-cell-table table .column:last-child {
    width: 25%;
    text-align: center;
}

.recharts-layer {
    outline: none !important
}