/*
    ========================================
    Navigation
    ========================================
*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link a{
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #008F88;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;  
    transition: all 0.3s ease;  
}

.nav-link a:hover{
    font-size: 24px;
    font-weight: 700;
}

.nav-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #008F88;
    transition: all 0.3s ease;  
}

.nav-btn svg {
    margin-right: 5px;
    display: inline-block;
    transition: margin-right 0.3s ease;
}

.nav-btn:hover {
    padding-right: 70px;
}

.nav-btn:hover a svg {
    margin-right: 5px;
}

.nav-btn::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-btn:hover::after {
    opacity: 1;
}